.card_profile-bg {
    padding-top: 80px;
    background-image: url('../../../assets/instagram_7.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -150px;
}